.ResultsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 5rem;
}
.resultChoise__player,
.gameStatus__Name {
  text-transform: uppercase;
  text-align: center;
}
.ResultChoise {
  display: grid;
  place-items: center;
  gap: 1em;
}
.player1 {
  order: 1;
}

.player2 {
  order: 2;
}

.gameStatus {
  order: 3;
  margin-top: 3rem;
}

.gameStatus__Name {
  font-size: var(--fs-tri);
}

.gameStatus__Btn {
  border: none;
  padding: 0.5em 1.25em;
  font-size: var(--fs-prmy);
  text-align: center;
  text-transform: uppercase;

  width: 100%;

  border-radius: 7px;
  margin-top: 1em;
  cursor: pointer;
}

.resultChoise__Option {
  cursor: default;
  max-width: 100%;
}

.ResultOptionImg {
  padding: 2.5em;
  background-color: var(--col-text-acc);

  border-radius: 50%;
  border: 25px solid blue;
  width: clamp(200px, 75%, 400px);

  cursor: pointer;
}

.rock {
  border: 25px solid var(--Rock-Gradient-start);
}

.paper {
  border: 25px solid var(--Paper-Gradient-start);
}

.scissors {
  border: 25px solid var(--Scissors-Gradient-start);
}

@media screen and (min-width: 800px) {
  .player2 {
    order: 3;
  }

  .gameStatus {
    order: 2;
    margin-top: 0;
  }
}
